<h1>Welcome to Reading Meow</h1>
<h2><i>The one and only service that can give your cat the gift of a good book</i></h2>
<ul>
	<li><%= link_to "Sign Up", new_user_registration_path %></li>
	<li><%= link_to "Log In", new_user_session_path %></li>
</ul>